
<h1>
  <p>
    <img id="timer" src="http://www.wpclipart.com/time/hourglass/hourglass_blue.png" height='100' width='134' />
  </p>

  <form action='/bLoggle' method='post'>
      <button id='roll_button' class='button round large' name='ROLL'>ROLL</button> dice to start!
  </form>
</h1>

<div class="row">
  <% 4.times do |index| %>
    <ul class="small-block-grid-4">
      <li><img class="faces" src="<%= images[$dice.collection[(index * 4) - 3].visible_face] %>" alt="" /></li>
      <li><img class="faces" src="<%= images[$dice.collection[(index * 4) - 2].visible_face] %>" alt="" /></li>
      <li><img class="faces" src="<%= images[$dice.collection[(index * 4) - 1].visible_face] %>" alt="" /></li>
      <li><img class="faces" src="<%= images[$dice.collection[(index * 4)    ].visible_face] %>" alt="" /></li>
    </ul>
  <% end %>
</div>
